.text-right {
    text-align: right !important;
}

.float-right {
    float: right;
}

.card-body.products label {
    font-size: 12px;
}

.product_images .image {
    width: 150px;
    height: 150px;
    position: relative;
    background: #e5e5e5;
    padding: 20px;
    margin: 10px;
}

.card-body.products input[type=text], .card-body.products input[type=file], .card-body.products select, .card-body.products button[type=submit] {
    height: 25px;
    font-size: 10px;
}

.card-body.products button[type=submit] {
    padding: 5px 15px;
}

.card-body.products input[type=file] {
    padding: 3px 5px 0px;
}

.product_images .image img {
    width: 100%;
    height: 100%;
}

.product_images .image a {
    position: absolute;
    top: -10px;
    right: -5px;
}

.product_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product_images {
}
